#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.my-background {
  background-image: url('/DinnerTable.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full viewport height */
  width: 100%;
}
